{% extends "base.html" %}
{% block content %}
<section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>The bare flask with Zalando connexion</h2>
          <p class="lead">proof of concept</p>
          <ul>
            <li>flask bare metal</li>
            <li>Open API 3.0 schema file</li>
            <li>connexion from Zalando
                <ul>
                    <li>generating the database from the openapi file</li>
                    <li>generating and serving the defined API</li>
                </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section> 
{% endblock %}